{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <title>Sign In</title>
    <link
      href="{% static 'account/css/forms.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="{% static 'account/fonts/material-icon/css/material-design-iconic-font.min.css' %}"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <div class="signin-content">
          <div class="signin-image">
            <figure>
              <img
                src="{% static 'account/images/signin-image.jpg' %}"
                alt="Sign In Image"
              />
            </figure>
            <a href="{% url 'signup' %}" class="signup-image-link"
              >Don't have an Account? Sign Up</a>
          </div>

          <div class="signin-form">
            <h2 class="form-title">Sign In</h2>
            <form
              method="POST"
              class="register-form"
              id="login-form"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="form-group">
                <label for="username"
                  ><i class="zmdi zmdi-account material-icons-name"></i
                ></label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  placeholder="Username"
                />
                {{form.username.errors}}
              </div>
              <div class="form-group">
                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                />
                {{form.password.errors}}
              </div>
              
              {% if form.non_field_errors %}
              <div class="form-errors">
                {% for error in form.non_field_errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}

              <div class="form-group form-button">
                <input
                  type="submit"
                  name="signin"
                  id="signin"
                  class="form-submit"
                  value="Log in"
                />
                <a href="{% url 'password_reset' %}" class="forgot-password"
                  >Forgot Password?</a
                >
              </div>
            </form>
            <div class="social-login">
              <span class="social-label">Or login with</span>
              <ul class="socials">
                <li>
                  <a href="#"
                    ><i class="display-flex-center zmdi zmdi-facebook"></i
                  ></a>
                </li>
                <!-- <li>
                  <a href="#"
                    ><i class="display-flex-center zmdi zmdi-instagram"></i
                  ></a>
                </li> -->
                <li>
                  <a href="#"
                    ><i class="display-flex-center zmdi zmdi-google"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
