{% extends "blog/base.html" %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'account/css/my_posts.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9c7a50154.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
    <div id="outer-wrapper">
        <div id="inner-wrapper">

            <div id="create-post">
                <a href="{% url 'post-create' %}"><h2>Create New Post</h2></a>
                <i class="fas fa-edit"></i>
            </div>

            <div id="cards-container">
                {% for post in posts %}
                <div id="card">
                    <div id="card-inner-upper">
                        <div id="post-image">
                            <img src="{{ post.image.url }}" alt="Post Cover">
                        </div>
                        <div id="post-content">
                            <h3>{{ post.title }}</h3>
                            <!-- <p>{{ post.content }}</p> -->
                        </div>
                    </div>

                    <div id="card-inner-lower">
                        <a href="{% url 'post-detail' post.slug %}">VIEW</a>
                        <a href="{% url 'post-update' post.slug %}">EDIT</a>
                        <a href="{% url 'post-delete' post.slug %}" style="color: red;">DELETE</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}